.hero-section {
  /* fallback background*/
  background-color: #008800a6;
  /* blend backgrounds choose the darker one*/
  background-blend-mode: multiply;
  background-image: url(../img/hero-image.jpg);
  background-size: cover;
  background-position: center;
  width: min(100rem, 100%);
  padding: 2em 0;
}

.hero-content {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
}

.hero-content > img {
  object-fit: cover;
  object-position: center;
  width: clamp(10vw, 8rem, 20vw);
}

.hero-text {
  color: var(--white-color);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: clamp(8vw, 12rem, 10vw);
}

.main {
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--white-color);
  line-height: 2.4rem;
  padding: 4em 2em 1em;
}

.description p:first-child {
  margin-top: 0;
}

.description > p,
.description > h2 {
  text-align: center;
  font-size: 1.8rem;
}

.description > h2 {
  margin-top: 4rem;
  font-size: clamp(2vw, 4rem, 5vw);
}

form {
  margin: 4rem auto;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.form-action {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form label {
  color: var(--text-color);
  font-size: 1.6rem;
}

form input {
  font-size: 1.8rem;
  border: 2px solid var(--input-border-color);
  padding: 0.5em;
  border-radius: 4px;
}

form input:focus {
  outline: none;
  box-shadow: inset 3px 3px 3px rgb(115 167 71 / 80%);
}

button[type="submit"] {
  margin-top: 1rem;
  -webkit-appearance: none;
  appearance: none;
  font-size: 2rem;
  padding: 0.5em 2em;
  background-color: var(--background-color);
  color: var(--btn-color);
  font-weight: 700;
  border: 2px solid var(--btn-color);
  border-radius: 4px;
}

button[type="submit"]:hover,
button[type="submit"]:active {
  background-color: var(--btn-color);
  color: var(--background-color);
}

form + p {
  text-align: center;
  font-size: 1.8rem;
}

p > a {
  color: var(--btn-color);
  font-weight: 700;
  text-decoration: none;
}

@media (min-width: 1023px) {
  body {
    display: flex;
    min-height: 100vh;
  }

  .hero-section {
    flex: 1 0 min(40rem, 40%);
    position: relative;
  }

  .hero-content {
    width: 100%;
    padding: 3em 0;
    position: absolute;
    top: 20em;
    background-color: #22171799;
  }

  .hero-content > img {
    width: clamp(3vw, 6rem, 8vw);
  }

  .hero-text {
    font-size: clamp(3vw, 6rem, 8vw);
  }

  .main {
    padding: 10em 5em 0.8em;
  }

  .description > p,
  .description > h2,
  form + p {
    text-align: start;
  }

  form {
    margin: 4rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  button[type="submit"] {
    width: min(12em, 100%);
  }
}
